body{
    background: rgba(32,245,12,1);
    background: -moz-linear-gradient(left, rgba(32,245,12,1) 0%, rgba(195,247,52,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(32,245,12,1)), color-stop(100%, rgba(195,247,52,1)));
    background: -webkit-linear-gradient(left, rgba(32,245,12,1) 0%, rgba(195,247,52,1) 100%);
    background: -o-linear-gradient(left, rgba(32,245,12,1) 0%, rgba(195,247,52,1) 100%);
    background: -ms-linear-gradient(left, rgba(32,245,12,1) 0%, rgba(195,247,52,1) 100%);
    background: linear-gradient(to right, rgba(32,245,12,1) 0%, rgba(195,247,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20f50c', endColorstr='#c3f734', GradientType=1 );
}

.btn-custom{
    border: 2px solid whitesmoke;
    background-color: rgba(0,0,0,0);
    color: whitesmoke;
    font-weight: bolder;
}

.btn-custom:hover{
    border: 2px solid whitesmoke;
    background-color:whitesmoke;
    color: black;
}

input.form-control {
    font-size: 50px!important;
    text-align: center;
}